* {
    padding: 0;
    margin: 0;
}

body{
    width: 1280px;
    font-family: 'Montserrat', sans-serif;
}

.menu{
    list-style-type: none;
    text-align: center;
    padding: 26px 0;

}

.menu-item{
    padding-left: 72px;
    display: inline-block;
    

}

.menu-item:nth-child(4){
    padding-left: 50px;
}


.menu-item-link {
    text-decoration: none;
    color: #FF0000;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    
}

.main-content{
    margin: 0 auto;
    display: block;
    width: 1145px;
}

.main-image{
    width: 100%;
    height: 789px;
}

.title{
    text-align: center;
    margin-top: 48px;
    margin-bottom: 38px;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;

}

.text{
    text-align: center;
    margin-bottom: 28px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #373737;

}

.text1{
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #373737;


}
.main-button{
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-top: 66px;
    font-size: 12px;
    font-weight: 700;
    padding: 18px 44px;
    background-color: red;
    border-radius: 4px;
    border: none;

}

.down-text{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #373737;
    text-align: right;
    padding: 82px 105px 29px 713px;
    

}